# Configurations and gcodes for Raspberry Pi setups

[mcu rpi]
serial: /tmp/klipper_host_mcu

[static_digital_output POWER_pins]
pins: rpi:gpio26

[output_pin BEEPER_pin]
pin: rpi:gpio13
#   Beeper pin. This parameter must be provided.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 1
#   Silent at power on, set to 1 if active low.
shutdown_value: 1
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz

######################################################################
# Beeper
######################################################################

# Mario Beeps
[gcode_macro MARIO]
description: Beeper macro
gcode:  
    {% set tones = [2637, 2637, 1, 2637, 1, 2093, 2637, 1, 3136, 1, 1,  1, 1568, 1, 1, 1, 2093, 1, 1, 1568, 1, 1, 1319, 1, 1, 1760, 1, 1976, 1, 1865, 1760, 1, 1568, 2637, 3136, 3520, 1, 2794, 3136, 1, 2637, 1, 2093, 2349, 1976, 1, 1, 2093, 1, 1,  1568, 1, 1, 1319, 1, 1, 1760, 1, 1976, 1, 1865, 1760, 11568, 2637, 3136, 3520, 1, 2794, 3136, 1, 2637, 1, 2093, 2349, 1976, 1, 1] %} ; S sets the tone frequency
    {% for count in tones %}
        {% set cytime = 1 / count %}
        SET_PIN PIN=BEEPER_pin VALUE={0.6} CYCLE_TIME={cytime} ;Play tone
        G4 P5 ;tone duration
        SET_PIN PIN=BEEPER_pin VALUE=1
    {% endfor %}

[gcode_macro DKSTART]
description: Donkey kong game start tune @180 bpm or 3 beats per second
gcode:  
    # frequncy (Hz) of the DK notes -> [131, 147, 156, 147,,,, 370,392(repeated), 392, last note]
    # too low C3 as root {% set tones = [131, 147, 156, 147, 370,392, 370,392, 370,392, 370,392, 370,392, 370,392, 370,392, 370,392, 370,392] %}
    # try G3 as root
    #{% set tones = [196, 220, 233, 220, 370,392,,,,trills,,,,,392] %}
    {% set trill = [370, 392, 370, 392, 370, 392, 370, 392, 370, 392, 370, 392, 370, 392, 370, 392, 370] %}
    {% set volume = params.VOLUME | default(0.78) | float %}
    {% set BPM = 180 %}
    {% set BPS = BPM/60 %} #beats per second
    
    SET_PIN PIN=BEEPER_pin VALUE={volume} CYCLE_TIME={1/195} ;Play tone
    G4 P{2/BPS*1000} ;tone duration

    SET_PIN PIN=BEEPER_pin VALUE=1
    G4 P{1/BPS*1000} ;tone duration

    SET_PIN PIN=BEEPER_pin VALUE={volume} CYCLE_TIME={1/220} ;Play tone
    G4 P{2/BPS*1000} ;tone duration
    #SET_PIN PIN=BEEPER_pin VALUE=1

    SET_PIN PIN=BEEPER_pin VALUE={volume} CYCLE_TIME={1/233} ;Play tone
    G4 P{2/BPS*1000} ;tone duration
    #SET_PIN PIN=BEEPER_pin VALUE=1

    SET_PIN PIN=BEEPER_pin VALUE={volume} CYCLE_TIME={1/195} ;Play tone
    G4 P{2/BPS*1000} ;tone duration
    #SET_PIN PIN=BEEPER_pin VALUE=1

    {% for tone in trill %}
        {% set cytime = 1 / tone %}
        SET_PIN PIN=BEEPER_pin VALUE={volume} CYCLE_TIME={cytime} ;Play tone
        G4 P{(1/8)/BPS*1000} ;tone duration        SET_PIN PIN=BEEPER_pin VALUE=1
    {% endfor %}

    #last note
    SET_PIN PIN=BEEPER_pin VALUE={volume} CYCLE_TIME={1/392} ;Play tone
    G4 P{4/BPS*1000} ;tone durationn
    SET_PIN PIN=BEEPER_pin VALUE=1

